---
# Based on ansible-lint config
extends: default

ignore: |
  env

rules:
  colons:
    max-spaces-after: -1
    level: error
  empty-lines:
    max: 2
    level: error
  line-length:
    max: 100
